Babel==2.6.0
bcrypt==3.1.6
beautifulsoup4==4.7.1
blinker==1.4
bs4==0.0.1
cairocffi==1.0.2
CairoSVG==2.3.0
certifi==2019.3.9
cffi==1.11.5
chardet==3.0.4
Click==7.0
cssselect2==0.2.1
defusedxml==0.5.0
Flask==1.0.2
Flask-Mail==0.9.1
flask-paginate==0.5.2
Flask-Pagination==0.0.1
Flask-PyMongo==2.2.0
fpdf==1.7.2
gunicorn==19.9.0
html5lib==1.0.1
idna==2.8
invoice-generator==0.0.2
itsdangerous==1.1.0
Jinja2==2.10
MarkupSafe==1.1.0
numpy==1.16.2
pandas==0.24.1
Pillow==5.4.1
pycparser==2.19
pycrypto==2.6.1
pymongo==3.7.2
Pyphen==0.9.5
python-dateutil==2.8.0
pytz==2018.9
qrcode==6.1
requests==2.21.0
selenium==3.141.0
six==1.12.0
soupsieve==1.8
stripe==2.21.0
tinycss2==1.0.0
urllib3==1.24.1
WeasyPrint==45
webencodings==0.5.1
Werkzeug==0.14.1
werkzeug-encryptedcookie==1.1
werkzeug-rfc7xx==1.0.0
