body{
    width:100%;
    height: 100%;
    background-image: url({{ url_for('static', filename='img/morocco-agri-fisheries.jpg') }});
    background-position: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
