{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
<style>
    .header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
.nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
.active {
    font-weight:bold;
}
.section {
    width:350px;
    float:left;
    padding:10px;
}
.footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
</style>
{% endblock %}
{% block content %}
<br>
<div class="row" style="height:450px;">
    <div class="col-xs-4" style="border-right:1px solid;">
<div class="nav">
    <ul style="list-style-type:none; font-size:24px; display:block;">
        <li ><a href="#section-london" style="color:black;">General Announcements</a></li>
        <li ><a href="#section-london" style="color:black;">Admin Announcements</a></li>
        <li><a href="#section-paris" style="color:black;">Auction Announcements</a></li>
        <li><a href="#section-paris" style="color:black;">User's Advertisements</a></li>
    </ul>
</div>
    </div>
     <div class="col-xs-8">
<div id="section-london" class="tab-content">

    <form class="form-group" action="/new_post/<string:username>" method="post" enctype="multipart/form-data">
        	<input type="text" id="content" class="form-control" name="content" placeholder="Announcement" required="required">
        <br>
        <button type="submit" class="btn btn-success btn-lg btn-block" style="width:20%;">Submit</button>
        <br>
        <br>
        {% if posts|length > 0 %}
            {% for post in posts %}
            <img src="{{url_for('file',filename=post.picture)}}" alt="Lights" style="height:70px;width:100%;" align="center">
              <h4> Announcement by {{ post.username}}</h4>
              <p class="fg-gray">{{post.date_posted}}</p>
                {{ post.message}}

              <p class="text-center">Hits {{post.likes|length}}</p>&nbsp;&nbsp; <button class="button secondary">Hit</button>
                {% endfor %}
                {% else %}
            <h4 class="text-center">There aren't any posts yet!</h4>
            {% endif %}

    </form>
</div>
<div id="section-paris" class="tab-content">
    <h2>Paris</h2>
    <p>Paris, France's capital, is a major European city and a global center for art, fashion, gastronomy and culture. Its picturesque 19th-century cityscape is crisscrossed by wide boulevards and the River Seine. </p>
</div>
</div>
</div>



<script>
    $(document).ready(function () {
    $('.nav ul li:first').addClass('active');
    $('.tab-content:not(:first)').hide();
    $('.nav ul li a').click(function (event) {
        event.preventDefault();
        var content = $(this).attr('href');
        $(this).parent().addClass('active');
        $(this).parent().siblings().removeClass('active');
        $(content).show();
        $(content).siblings('.tab-content').hide();
    });
});
</script>
{% endblock %}

