{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-xs-4">
            <form class="form-group" action="/new_post/<string:username>" method="post" enctype="multipart/form-data">
            <div class="form-group">
        	<input type="text" id="content" class="form-control" name="content" placeholder="Announcement" required="required">
        </div>
          <button type="submit" class="btn btn-success btn-lg btn-block">Submit</button>
            </form>
        </div>
        <div class="col-xs-8" id="well">
            {% if posts|length > 0 %}
            {% for post in posts %}
            <div class="thumbnail" align="center">
          <img src="{{url_for('file',filename=post.picture)}}" alt="Lights" style="height:70px;width:100%;" align="center">
          <div class="caption" align="center">
              <h4> Announcement by {{ post.username}}</h4>
              <p class="fg-gray">{{post.date_posted}}</p>
                {{ post.message}}
              <br>
              <br>
              <p class="text-center">Hits {{post.likes|length}}</p>&nbsp;&nbsp; <button class="button secondary">Hit</button>
          </div>
      </div>



        {% endfor %}
    {% else %}
        <h4>There aren't any posts yet!</h4>
            {% endif %}
   </div>
    </div></div>
{% endblock %}

