{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <br>
    <h2 align="center" style="text-aline:center; font-family: Rockwell">Auction Items</h2>&nbsp;

    <br>
     {% if posts|length > 0 %}
            {% for post in posts %}
     <div class="col-md-9 col-md-offset-1 well" style="background-color: white">
       <form  action="/auth_register" method="post" enctype="multipart/form-data">
            Only <i class="fa fa-clock-o" style="font-size:24px"></i> <span id='time'></span> left!
            <input type="hidden" id="auctionId" name="auctionId" value="{{post._id}}">
            <input type="hidden" id="username" name="username" value="{{username}}">
           <p><span style="color:blue; font-size:15pt; font-style:solid">Commodity Name:&nbsp;{{post.commodity_name}}</span><br><br>
                <img src="{{url_for('file',filename=post.image)}}" class="rounded float-left" alt="Lights" style="height:100px;width:100px;">
               <span style="color:black; font-size:12pt; font-style:solid">&nbsp;&nbsp;Commodity Value:&nbsp;{{post.commodity_value}}</span><br>
               <span style="color:black; font-size:12pt; font-style:solid">&nbsp;&nbsp;Description:&nbsp;{{ post.description}}</span><br>
               <span style="color:black; font-size:12pt; font-style:solid">&nbsp;&nbsp;Quantity:&nbsp;{{post.quantity}} Kgs</span>&nbsp;&nbsp;&nbsp;<span style="color:black; font-size:12pt; font-style:solid">Price:&nbsp;{{post.price}}/-</span><br>
               <span style="color:black; font-size:12pt; font-style:solid">&nbsp;&nbsp;Number of Bids:&nbsp;&nbsp;{{post.bids | count}}</span><br>
               <span style="color:black; font-size:11pt; font-style:solid">&nbsp;&nbsp;Date Posted:&nbsp;{{post.created_date}}</span></p>
                {% if post.username == username %}

                      {% else %}
                <button type="button" id="Button" class="btn">Bid</button>
                {% endif %}






                {% endfor %}
                {% else %}
            <h4 class="text-center">There aren't any posts yet!</h4>
                {% endif %}
          </form> </div>

</div>
<script>

(function() {
  var start = new Date;
  var end = new Date;
  start.setHours(15, 0, 0);
  end.setHours(19,2,0);

  function pad(num) {
    return ("0" + parseInt(num)).substr(-2);
  }

  function tick() {
    var now = new Date;
    if (now <= end && now >= start) { // too late, go to tomorrow
      start.setDate(end.getDate() - 1);

    var remain = ((end - now) / 1000);
    var hh = pad((remain / 60 / 60) % 60);
    var mm = pad((remain / 60) % 60);
    var ss = pad(remain % 60);
    document.getElementById('time').innerHTML =
      hh + ":" + mm + ":" + ss;
    setTimeout(tick, 1000);
   document.getElementById("Button").disabled = false;
   }
   else {
            if (now  == end){
                    document.getElementById("Button").click();
            }
   	document.getElementById("Button").disabled = true;
   }
  }




  document.addEventListener('DOMContentLoaded', tick);
})();

</script>
{% endblock %}