{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container-fluid">
    <br/>
    <br/>
    <h3>Amount :&nbsp;{{money}}</h3>
     <h3>card_number :&nbsp;4242424242424242</h3>
<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12"></div>
    <div class="col-md-4 col-sm-4 col-xs-12">
        <form class="form-container" id="myCCForm" action="/charge" method="post">
            <div class="form-group">
                <label>
                    <span>Card Number</span>
                </label>
                <input id="ccNo" type="text" size="20" value="" placeholder="Card Number" name="cno"  required />
            </div>
            <div class="form-group">
                <label>
                    <span>Expiration Date (MM/YYYY)</span>
                </label>
                <div class="row">
                <div class="col-sm-4">
                <input type="text" size="2" id="expMonth" name="expMonth" placeholder="MM"/>
                </div> <span style="font-weight: bold; font-size:20pt;">/</span><div class="col-sm-4"><input type="text" size="2" id="expYear" name="expYear" required placeholder="YYYY"/></div></div>
            </div>
            <div class="form-group">
                <label>
                    <span>CVV Number</span>
                </label>
                <input id="cvv" size="3" type="text" name="cvv" required style="width:60px;" value="" placeholder="CVV"/>
            </div>
            <div class="form-group">
                <label>
                    <span>Name on the card</span>
                </label>
                <input id="name" size="4" type="text" placeholder="Name on the card" value=""  required />
            </div>
            <input type="submit" class="btn btn-success" value="Submit">
        </form>
        </div>
    <div class="col-md-4 col-sm-4 col-xs-12"></div>

</div>
</div>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://www.2checkout.com/checkout/api/2co.min.js"></script>

        <script>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="{{ key }}"
            data-description="Added to Wallet"
            data-amount="{{money}}"
            data-locale="auto"></script>
        </script>
{% endblock %}