{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
<div class="container">
    <br>
    <h2 align="center" style="text-aline:center; font-family: Rockwell">Transaction Block</h2>&nbsp;
    <br>
    <h5 align="center" style="text-aline:center; font-family: Rockwell">Present Block Hash :{{present}}</h5>
    <h5 align="center" style="text-aline:center; font-family: Rockwell">Number of Blocks in Chain :{{blocks}}</h5>
    <textarea class="form-control" rows="5" id="des1" name="description">{{response}}</textarea>
    <h4 align="center" style="text-aline:center; font-family: Rockwell">Full Chain JSON View</h4>
     {% if posts|length > 0 %}
            {% for post in posts %}
     <div class="col-md-9 col-md-offset-1 well" style="background-color: white">
         <textarea class="form-control" rows="5" id="des" name="description">{{post}}</textarea>



     </div> {% endfor %}
        <hr>
                {% else %}
            <h4 class="text-center">There aren't any posts yet!</h4>
                {% endif %}

</div>
{% endblock %}